html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

a {
  text-decoration: none;
}

.menu {
  padding: 0;
  background-color: rgba(233, 30, 99, 0.08);
  border-right: 1px solid #D6D6D6;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 263px;
  align-items: left;
  height: 100%;
}

.menu-body{
  margin-left: 8px;
  margin-right: 8px;
}
.item {
  display: flex;
  color: rgba(233, 30, 99, 0.87);
  padding: 15px 15px 15px 15px;
}

.dashboard{
  margin-top:8px;
}

.text-item{
  display: flex;
  font-family:'Roboto';
  font-weight: 400px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.15px;
  text-align: left;
  color:rgba(0, 0, 0, 0.6);
  margin-left: 17px;
}

.arrow {
  color: rgba(0, 0, 0, 0.6);
  margin-left: auto;
}

.text-config {
  display: flex;
  font-family:'Roboto';
  font-weight: 500px;
  text-align: left;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.09px;
  flex-direction: column;
  color:rgba(0, 0, 0, 0.6);
  margin-left: 58px;
  margin-top: 29px;
}

.dashboard.active{
  background-color: rgba(233, 30, 99, 0.16);
  border-radius: 4px;
}

.rodape {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #D6D6D6;
  padding-top: 12px;
  font-size: 24px;
  width: 100%;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.header {
  display: flex;
  flex: 0 0 auto;
  border-bottom: 1px solid #D6D6D6;
  min-height: 64px;
  margin: 0;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: left;
}

.menu-header {
  border-bottom: 1px solid #D6D6D6;
}

.men {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px;
  font-size: 24px;
}

.icon-ck{
  margin-left: 8px;

}

.icon-user {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 26px 12px 0px 12px;
}

.user-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.09px;
  line-height: 19px;
  color:rgba(0, 0, 0, 0.87);  
  margin-left: 64px;
}

.office-name{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0.4px;
  line-height: 16px;
  color:rgba(0, 0, 0, 0.6); 
  margin-left: 64px;
}

h1 {
  margin: 0;
}

.logo-ck{
  display: flex;
  background-color: #E91E63;
  border-radius: 28px; 
  height: 48px;
  width: 216px;
  box-shadow: 0px 1px 3px rgba(233, 30, 99, 1);
  align-items: center;
  justify-content: center;
  margin: 18px 8px 8px 8px;
}

.aplicar {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  letter-spacing: 1.25px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 8px;
}

.title {
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.26px;
  line-height: 30px;
  color: #E91E63;
  margin-left: 20px;
}

.back{
  display: flex;
  color: #000000;
  margin-left: 36px;
}