html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  position: relative;
  width: 100%;
  height: 100%;
}


body {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

a {
  text-decoration: none;
}

.menu {
  padding: 0;
  background-color: rgba(233, 30, 99, 0.08);
  border-right: 1px solid #D6D6D6;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: center;
  height: 100%;
}

.item {
  display: flex;
  color: rgba(233, 30, 99, 0.87);
  padding: 15px 15px 15px 15px;
}

.dashboard{
  margin-top:8px;
}

.dashboard.active{
  background-color: rgba(233, 30, 99, 0.16);
  border-radius: 4px;
}

.rodape {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #D6D6D6;
  margin: auto 20px 12px 20px;
  padding-top: 12px;
  font-size: 24px;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.header {
  display: flex;
  flex: 0 0 auto;
  border-bottom: 1px solid #D6D6D6;
  min-height: 64px;
  margin: 0;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.menu-header {
  border-bottom: 1px solid #D6D6D6;
}

.men {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 20px 26px 20px;
  font-size: 24px;
}

.icon-user {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 26px 12px 0px 12px;
}

h1 {
  margin: 0;
}

.logo-ck{
  display: flex;
  background-color: #E91E63;
  border-radius: 28px; 
  height: 48px;
  width: 48px;
  box-shadow: 0px 1px 3px rgba(233, 30, 99, 1);
  align-items: center;
  justify-content: center;
  margin: 18px 8px 8px 8px;
}



.title {
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.26px;
  line-height: 30px;
  color: #E91E63;
  margin-left: 20px;
}

.back{
  display: flex;
  color: #000000;
  margin-left: 36px;
}