* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

a {
  text-decoration: none;
}

th {
  font-weight: 500;
}

.menu {
  padding: 0;
  background-color: rgba(233, 30, 99, 0.08);
  border-right: 1px solid #D6D6D6;
  height: 100%;
  width: 263px;
}


.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
}

.menu-body{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 8px 8px 0 8px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.item {
  display: flex;
  color: rgba(233, 30, 99, 0.87);
  padding: 15px 15px 15px 15px;
  flex-direction: row;
  justify-content: flex-start;
}

.text-item{
  display: flex;
  font-family:'Roboto';
  font-weight: 400px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.15px;
  text-align: left;
  color:rgba(0, 0, 0, 0.6);
  margin-left: 17px;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  flex: 0 1 auto;
}

.arrow {
  color: rgba(0, 0, 0, 0.6);
  margin-left: auto;
}

.text-config {
  display: flex;
  font-family:'Roboto';
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.09px;
  flex-direction: column;
  color:rgba(0, 0, 0, 0.6);
  padding: 14px 14px 15px 52px;
}

.item.active{
  background-color: rgba(233, 30, 99, 0.16);
  border-radius: 4px;
}

.rodape {
  display: flex;
  border-top: 1px solid #D6D6D6;
  width: 100%;
  flex: 0 0 auto;
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px; 
  padding-left: 16px;
}

.item-rodape{
  height: 24px;
  width: 24px;
}

.item-rodape + .item-rodape {
  margin-left: 24px;
}

.rodape a {
  color: rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.header {
  display: flex;
  flex: 0 0 auto;
  border-bottom: 1px solid #D6D6D6;
  min-height: 64px;
  margin: 0;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: left;
}

.menu-header {
  border-bottom: 1px solid #D6D6D6;
  width: 100%;
}

.men {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 22px;
}

.icon-ck{
  margin-left: 8px;

}

.user{
  display: flex;
  flex-direction: row;
  margin-left: 12px;
}
.icon-user {
  display: flex;
  width: 40px;
  height: 40px;
}

.user-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.09px;
  line-height: 19px;
  color:rgba(0, 0, 0, 0.87);  
}

.office-name{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0.4px;
  line-height: 16px;
  color:rgba(0, 0, 0, 0.6); 
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

h1 {
  margin: 0;
}

.logo-ck{
  display: flex;
  background-color: #E91E63;
  border-radius: 28px; 
  height: 48px;
  width: 216px;
  box-shadow: 0px 1px 3px rgba(233, 30, 99, 1);
  align-items: center;
  justify-content: center;
  margin: 18px 8px 8px 8px;
}

.aplicar {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  letter-spacing: 1.25px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 8px;
}

.title {
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.26px;
  line-height: 30px;
  color: #E91E63;
  margin-left: 20px;
}

.back{
  display: flex;
  color: #000000;
  margin-left: 36px;
}


table, td, th {
  border-collapse: collapse;
}


table{
  /* border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0; */
}

th{
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.09px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6); 
  /* border-bottom: 1px solid #D6D6D6; */
}

td {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.24px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6); 
  /* border-bottom: 1px solid #D6D6D6; */
}

.conteudo-thead {
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.06);
}

.conteudo-tbody{
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  height: 48px;
 
}

.menu-small{
  width: 64px;
}

.menu-small .icon-ck {
  display: none;
}

.menu-small .user-info{
  display: none;
}

.menu-small .aplicar{
  display: none;
}

.menu-small .sub-menu{
  display: none;
}

.menu-small .arrow {
  display: none;
}

.menu-small .item-rodape:not(.help) {
  display: none;
}

.menu-small .text-item{
  display: none;
}

.menu-small .logo-ck {
  width: 48px;
}

.menu-small .item{
  justify-content: center;
  align-items: center;
  height: 48px;
}

.menu-small .rodape {
  justify-content: center;
  text-align: center;
  padding-left: 0;
}

