html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
}


.title {
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.26px;
  line-height: 30px;
  color: #E91E63;
  padding-left: 20px;
}

.back{
  display: flex;
  color: #000000;
  padding-left: 36px;
}

a {
  text-decoration: none;
}


.menu {
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 64px;
  border-right: 1px solid #D6D6D6;
  align-items: center;
  padding: 0;
  
}

.iten {
  display: flex;
  color: #E91E63;
}

.dashboard {
  font-size: 18px;
}



.header {
  display: flex;
  border-bottom: 1px solid #D6D6D6;
  height: 64px;
  margin: 0;
  align-items: center;
  margin-left: 64px;
}
